.about {
  padding: 7rem 2rem;
  text-align: center;
}
.about h1 {
  margin-bottom: 12px;
}
.about h1 span {
  color: #3f51b5;
}
.about h3 {
  max-width: 40rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
}
.about button {
  border: none;
  border-radius: 2px;
  width: fit-content;
  padding: 0.8rem 2rem;
  background: none;
  border: 1px solid #0e0e0e;
  color: #0e0e0e;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 1.5rem;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.about button:hover {
  background: #0e0e0e;
  color: #fff;
}